
body{
    margin:0;
    text-align: center;
    color: rgb(22, 22, 22);;
  background-color: #A7D7C5;
  }
  h1{
    font-size: 6.0rem;
    color: black;
    font-family: verdana, sans-serif;

  }
  h2{
    color:rgb(45, 79, 192) ;
    font-family: serif;
    font-size: 2rem;
    margin-top: 5px;

  }
  h3{color:rgb(8, 34, 121) ;
  }
  hr{
    border  :rgb(27, 8, 202) dotted 6px ;
    width: 5%;
    border-top: none;
    margin:100px auto ;

  }
  p{
    font-size: 1.6rem;
    margin-block-end: 0px;
  }
  .cancer{
  width: 400px;
  height: 400px;
  border-radius: 100%;
  padding-top: 30px;
  }
  .btn {

    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #228ed1;
    background-image: -webkit-linear-gradient(top, #228ed1, #02141f);
    background-image: -moz-linear-gradient(top, #228ed1, #02141f);
    background-image: -ms-linear-gradient(top, #228ed1, #02141f);
    background-image: -o-linear-gradient(top, #228ed1, #02141f);
    background-image: linear-gradient(to bottom, #228ed1, #02141f);
    text-decoration: none;
  }
  .bottom{
    background-color: rgb(70, 204, 162);
    padding: 50px 0px 20px;
    color: #ffffff;
    }
    .bottom:hover{
        background: #08b7d6;
        background-image: -webkit-linear-gradient(top, #3cfc43, #128023);
        background-image: -moz-linear-gradient(top, #3cfc43, #128023);
        background-image: -ms-linear-gradient(top, #3cfc43, #128023);
        background-image: -o-linear-gradient(top, #3cfc43, #128023);
        background-image: linear-gradient(to bottom, #3cfc43, #128023);
        text-decoration: none;
      }

  .cloud1{
    position: absolute;
    left: 600px; top: 30px;
  }
  .cloud2{
    position: absolute;
    left: 100px;top: 100px;
  }
  .cloud3{
    position: absolute;
    right: 10px;bottom: 100px;
  }
  .cloud4{
    position: absolute;
    right: 300px;top: 100px;
  }
  .contact-me{
    padding: 50px ;
   background-color: #5C8D89;
  }
  .designs{
    position: relative;
    bottom: 20px;
  }
  .footer-link{
    font-size: 1.5rem;
    margin-left: 30px;
    margin-top: 100px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 7%;
  }

  .footer-link:hover{
    background: #08b7d6;
      background-image: -webkit-linear-gradient(top, #3cfcec, #128023);
      background-image: -moz-linear-gradient(top, #3cfcec, #128023);
      background-image: -ms-linear-gradient(top, #3cfcec, #12807b);
      background-image: -o-linear-gradient(top, #3cfcec, #128023);
      background-image: linear-gradient(to bottom, #3cfcec, #128023);
      text-decoration: none;
  }
  .frontend{
    height: 100px;
    width: 200px; float: left;
    padding-right: 10px;
    border-radius: 50%;
  }
  .profile{
    background-color: #A7D7C5;
    font-family: Tahoma, sans-serif;
  }
  .CancerTypes{
    background-color: #74B49B;
  }
  .skill-row{
    width: 85%;
    margin:auto;
    text-align: left;
  }
  .tailor {
    width: 20%; height: 20%;
    float: right;
    border-radius: 50%;
  }
  .top{
    background-color:#F9F8EB;
    position: relative;
    padding-top: 40px;
    height: 400px;
    font-family: Tahoma, sans-serif;
  }
